$color-fondo: rgb(245, 245, 245);
$color-morado-primario: rgb(89, 26, 101);
$color-morado-claro: rgb(127, 79, 217);
$color-blanco: white;
$color-naranja: rgb(255, 177, 0);
$color-naranja-hover: rgb(235, 164, 0);
$color-nav-a: rgb(201, 197, 197);
$color-input: rgb(57, 57, 57);
$color-box-shadow: rgba(0,0,0,0.75);
$color-footer-line: grey;
$color-footer-button: rgb(171, 45, 128);
$color-morado-semiOscuro: rgb(53, 41, 64);
$color-morado-oscuro: rgb(30, 15, 41);
$color-footer-a: rgb(166, 155, 172);
$color-azul: rgb(41, 178, 219);
$color-price-morado: purple;
$color-price-verde:  rgb(86, 221, 86);
$color-span: rgb(105, 92, 113);