.header {
    outline: 2px solid black;
}

.nav {
    outline: 5px solid red;
}

.p {
    font-family: Arial;
    font-size: 22px;
    margin: 5px;
}

.nav__list {
    outline: 8px solid yellow;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__item {
    outline: 3px solid blue;
    flex-basis: 20%; 
}

.nav__link {
    background-color: violet;
    display: block;
}

.form {
    outline: 3px solid green;
    text-align: right;
    display: flex;
}

.form__label {
    font-family: Arial;
    font-size: 18px;
}

.form__input {
    background-color: lightblue;
    font-family: Arial;
    font-size: 14px;
    width: 100%;
}

.form__input--boton {
    background-color: grey;
    border-radius: 4px;
    color:white
}

.contenedor{
    display:flex;
    flex-direction: row;
    width: 40%;
    height: 400px;
    margin:auto;
}

.contenedor__izq{
    width: 40%;
    background-color: darkcyan;
}

.contenedor__der{
    width: 60%;
    background-color: red;
}