/*.header {
    outline: 2px solid black;
}

.nav {
    outline: 5px solid red;
}

.p {
    font-family: Arial;
    font-size: 22px;
    margin: 5px;
}

.nav__list {
    outline: 8px solid yellow;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__item {
    outline: 3px solid blue;
    flex-basis: 20%; 
}

.nav__link {
    background-color: violet;
    display: block;
}

.form {
    outline: 3px solid green;
    text-align: right;
    display: flex;
}

.form__label {
    font-family: Arial;
    font-size: 18px;
}

.form__input {
    background-color: lightblue;
    font-family: Arial;
    font-size: 14px;
    width: 100%;
}

.form__input--boton {
    background-color: grey;
    border-radius: 4px;
    color:white
}

.contenedor{
    display:flex;
    width: 40%;
    height: 400px;
    margin:auto;
}

.contenedor__izq{
    width: 40%;
    background-color: darkcyan;
}

.contenedor__der{
    width: 60%;
    background-color: red;
}*/

/*.container{
    outline: 5px solid black;
    width:auto;
    margin:auto;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.container__1{
    order:2;
    background-color: pink;
    text-align: center;
    margin: 5px;
    flex-basis:80px;
    width:200px;
}

.container__2{
    order:3;
    align-self: flex-end;
    background-color: blue;
    text-align: center;
    margin: 5px;
    width:200px;
    height:80px;
}

.container__3{
    order: 1;
    background-color: orange;
    text-align: center;
    margin: 5px;
    width:200px;
    height:80px;
}

.container__4{
    order:4;
    background-color: brown;
    text-align: center;
    margin: 5px;
    width:200px;
    height:80px;
}*/ 

.container{
    outline:5px solid blue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

.container__3{
    flex: 2;
}

.container > div{
    outline: 3px solid red;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

