.body{
    margin: 0px;
    background-color: rgb(245 245 245);
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(89, 26, 101);
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.nav__how{
    position: fixed;
    bottom: 0px;
    left: 0;
    background: rgb(127, 79, 217);
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    color: white;
}

.nav__how:hover{
    color: rgb(89, 26, 101);    
}

.nav__log{
    color: rgb(255, 177, 0);
}

.nav__bott{
    background-color: rgb(255, 177, 0);
    border-radius: 10rem; 
    height: 5px;
    width: 80px;
    color: white;
}

.nav__bott:hover{
    background: rgb(235, 164, 0);
}


.nav a{
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.galery{
   
}

.galery img{
    width: 100%;
    height: auto;
}

.section{
    background-color:white;
    font-family: Helvetica;
    font-size: 16px; 
    position: sticky;
    top: 0;
    z-index: 1;
}

.navegacion{
    display: flex;
    overflow-x:auto;

    max-width: 1100px;
    margin: 0 auto;
}

.navegacion a{
    text-decoration: none;
    color:rgb(201, 197, 197);
    padding: 16px;
}

.navegacion a:hover{
    color: rgb(89, 26, 101);
}

.container{
    max-width: 1100px;
    margin: 15px auto;
}

.busqueda{ 
    display: flex;
    justify-content: space-between;
}

.busqueda--input{
    position: relative;
    width: 40%;
    margin-bottom: 15px;
}

.busqueda--input input{ 
    font-size: 100%;
    color: rgb(57, 57, 57);
    border-style: none;
    height: 40px;
    font-family: Helvetica;
    width: 100%;
    padding: 10px;
}

.icono{
    position: absolute;  
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.lista select{
    width: 168px;
    padding: 12px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-style: none;
    color: rgb(89, 26, 101);
    font-weight: 700;
    cursor: pointer;
}

.contenido{ 
    display: flex;
    flex-wrap: wrap;
}

.contenido__articulos{
    position: relative;
    background: white;
    width: 250px;
    margin: 5px auto;
    border-radius: 10px;
}

.contenido__articulos:hover{
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
}

.contenido__articulos img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.contenido__articulos a{
    text-decoration: none;
}

.precio{
    position: absolute;
    background: white;
    right: 10px;
    top: 10px;
    height: 25px;
    width: 70px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion {
    padding: 8px;
}

.descripcion p{
    margin: 0;
    padding-bottom: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    background: rgb(53, 41, 64);
}

.footer__sup{
    padding: 15px;
}

.footer__sup--a{
    padding: 32px 16px 20px 16px;
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}

.footer__sup--cont{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
}

.footer__sup--cont a{
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    width: 100px;
}

.input{
    padding: 13px;
    font-size: 100%;
    margin:15px 0;
}

.boton{
    background: rgb(171, 45, 128);
    color: white;
    padding: 17px;
    margin:15px 0;
    border-style: initial;
}

.footer__sup--form a{
    padding: 0 8px;
}

.footer__sup--form p{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.footer__inf{
    background: rgb(30, 15, 41);
    color: rgb(166, 155, 172);
}

.footer__inf--cont{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer__inf a{
    color: rgb(166, 155, 172);
    text-decoration: none;
    margin-bottom: 16px;
}

.footer__inf p{ 
    margin: 0;
    padding-bottom: 50px;
    padding-left: 10px;
}

.footer__inf span{
    color: rgb(105, 92, 113);
    padding-bottom: 32px;
}

.footer a:hover{
    text-decoration: underline;
}


@media screen and (min-width:600px){
    .nav__how{
        position: static;
        background: none;
        width: auto;
    }

    .nav__how{
        color: rgb(41, 178, 219);
    }

    .nav__how:hover{
        color: rgb(255, 177, 0);
    }
}

@media screen and (min-width:1000px){
    .footer__inf--container{ 
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
    }

    .footer__inf--container p{ 
        padding: 16px 0;
        order: 1;
    }

    .footer__inf--cont{
        padding: 16px 0;
        order: 2;
    }

    .footer__inf--cont{
        flex-direction: row;
    }
    
    .footer__inf a{
        margin: 0 0 0 24px;
    }

    .footer__inf span{
        padding: 0;
        margin: 0 0 0 24px;
    } 
}

@media screen and (min-width:1200px){
    .footer__sup{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;  
        max-width: 1100px;
        padding: 32px 0 10px 0;
    }

    .footer__sup--a{
        border-bottom: none;
        border-top: none;
        padding: 0 0 0 100px;
    } 

    .footer__sup--form{
        padding: 0 0 0 80px;
    }
}