.body{
    margin: 0px;
    background-color: rgb(245 245 245);
}

.nav{
    background-color: rgb(89, 26, 101); 
    display: flex;
    justify-content: space-between; 
    font-family: Helvetica;
    font-size: 14px;
    width: 100%;
}

.nav__izq{
    display: flex;  
}

.nav__logo{
    margin-left: 50%;
}

.nav__how{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgb(41, 178, 219);
    text-decoration: none;
    margin:25px;
    width: 150px;
}

.nav__log{
    color: rgb(255, 177, 0);
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 150px;
}

.nav__bott{
    color:white; 
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color: rgb(255, 177, 0);
    text-decoration: none;
    border-radius: 10rem;
    padding: 1px 0.75rem 0px;
    margin-left: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;  
    height: 30px;
    margin-top: 3%;
    margin-right: 20%;
    width: 100px;
}


.galery{
    display:flex;
}

.galery__item{
    width: 100%;
    height: auto;
}

.menu{
    display: flex;
    justify-content: center; 
    align-items: center; 
    white-space: nowrap;
    width: auto;
    background-color:white;
    font-family: Helvetica;
    font-size: 16px;

    padding-left: 22%;
    
    overflow-x:scroll;
   
}

.menu__item{
    text-decoration: none;
    color:rgb(201, 197, 197); 
    padding: 12px;
}

.footer{

}

.footer__sup{  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(53, 41, 64);
}

.footer__img{
    width: 20%;
}

.footer__img--app{
    width: 15%;
    padding-right: 0%;
}

.footer__text--sup{
    font-size: 16px;
    font-family: Helvetica;
    color:white;
}

.footer__inf{ 
    background: rgb(30, 15, 41);
    display: flex;
    justify-content: space-around;
    
}

.footer__text{
    color: rgb(166, 155, 172);
}

.footer__polic{
    text-decoration: none;
    color: rgb(166, 155, 172);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

