/*
.footer__inf{ 
    background: rgb(30, 15, 41);
    display: flex;
    justify-content: space-around;
    
}

.footer__text{
    color: rgb(166, 155, 172);
}

.footer__polic{
    text-decoration: none;
    color: rgb(166, 155, 172);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
}*/


.body{
    margin: 0px;
    background-color: rgb(245 245 245);
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(89, 26, 101);
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav__how{
    position:fixed;
    bottom: 0px;
    left: 0;
    background: rgb(127, 79, 217);
    width: 100%;
    box-sizing: border-box;
}

.nav__log{
    color: rgb(255, 177, 0);
}

.nav__bott{
    background-color: rgb(255, 177, 0);
    border-radius: 10rem; 
    height: 5px;
    width: 80px;
}

.nav a{
    color:white; 
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.nav { 
    display: flex;
    justify-content: space-around;
}

/*.galery{
    display:flex;
}*/

.galery__item{
    width: 100%;
    height: auto;
}

.section{
    background-color:white;
    font-family: Helvetica;
    font-size: 16px; 
}

.navegacion{
    display: flex;
    overflow-x:auto;
}

.navegacion a{
    text-decoration: none;
    color:rgb(201, 197, 197);
    padding: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
}

.footer__sup{
    padding: 15px;
    background: rgb(53, 41, 64); 
}

.footer section{
    border-bottom:solid 1px grey;
}

.footer__sup--a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    padding: 5px 0;
}

.footer__sup--a a{
    color: white;
    text-decoration: none;
    padding: 5px;
    width:auto;
}

.input{
    padding: 13px;
    font-size: 100%;
    margin:15px 0;
}

.boton{
    background: rgb(171, 45, 128);
    color: white;
    padding: 17px;
    margin:15px 0;
    border-style: initial;
}

.footer__sup--form a{
    padding: 0 8px;
}

.footer__inf{
    background: rgb(30, 15, 41);
    padding-bottom: 40px;
    color: rgb(166, 155, 172);
}

.footer__inf a{
    color: rgb(166, 155, 172);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer__inf p{
    padding: 10px;
    margin: 0;
}

@media screen and (min-width:600px){
    .body{
        background-color:salmon;
    }

    .header__container{
        justify-content: space-between;
    }

    .nav__how{
        position: static;
        background: none;
        width: auto;
    }

    .section{
        padding: 0 100px;
    }

    .footer__inf{
        padding-bottom: 0;
    }
}